@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	html,
	body,
	#root {
		@apply h-full dark:bg-slate-950 dark:text-white;
	}

	#root {
		@apply flex flex-col;
	}

	nav,
	main,
	footer {
		@apply mx-24;
	}

	nav,
	footer {
		@apply py-8;
	}

	button {
		@apply cursor-pointer;
	}
}

@theme {
	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Lora', serif;
	--font-mono: 'Inconsolata', monospace;
	--color-lavender: #a445ed;
}
